# List of dependencies for the project, make sure that you have these installed in your Python environment before running the scripts.

numpy
pandas
pyyaml
tensorflow==2.20.0
tensorflow-datasets==4.9.9
matplotlib==3.8.0
keras-facenet
