# List of dependencies for the project, make sure that you have these installed in your Python environment before running the scripts.

numpy==1.26.0
pandas==2.2.3
pyyaml
tensorflow
tensorflow-datasets